<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Pname</th>
      <th>Price</th>
      <th>Qty</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.customer_id %></td>
        <td><%= product.pname %></td>
        <td><%= product.price %></td>
        <td><%= product.qty %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
  <div class="apple_pagination">
    <div class="page_info">
      <%#= page_entries_info @products %>
    </div>
    <%= will_paginate @products, :container => false %>
  </div>
  <br/>
<%= link_to 'New Product', new_product_path %>
